
#Vi Temp files
*~
*.swp
#LabVIEW local files
*.aliases
*.lvlps

#Session Log Files
Logs/

#gVision API (downloaded separately)
Gantry/Shared Components/External/

#Local config selection
gscript_config.ini

# Compiled Aerotech scripts
*.OGM

# Application Builds
builds/

Gantry/A3200/
Gantry/Shared Components/bin
*.bak
