
#Vi Temp files
*~
*.swp
#LabVIEW local files
*.aliases
*.lvlps

#Session Config Files
Logs/

#gVision API (downloaded separately)
Gantry/Shared Components/gVision API/
Gantry/Shared Components/gVision API.zip


