
#Vi Temp files
*~
*.swp
#LabVIEW local files
*.aliases
*.lvlps

#Session Log Files
Logs/

#gVision API (downloaded separately)
Gantry/Shared Components/gVision API/
Gantry/Shared Components/gVision API.zip

#Local config selection
Config/config.txt

# Compiled Aerotech scripts
*.OGM

# Application Builds
builds/
